   
    @media (max-width: 768px) {
      .contact {
        grid-template-columns: 1fr;
      }    form {
      display: flex;
      flex-direction: column-reverse;
    }

    form input,
    form textarea,
    form button {
      margin-bottom: 10px;
      padding: 10px;
      font-size: 1rem;
      border: 1px solid #ccc;
      border-radius: 8px;
    }

    form textarea {
      resize: none;
      height: 100px;
    }

    form button {
      background: #3084F2;
      color: #333;
      font-weight: bold;
      border: none;
      cursor: pointer;
      transition: background 0.3s ease;
    }

    form button:hover {
      background: #3084F2;
    }
    }
   
   
   @media screen and (min-width: 780px) and (max-width: 992px) {
    body{
      font-family: 'Montserrat', sans-serif;
      line-height: 1.6;
      background-color: #fafafa;
      color: #333;
    }

    main{
        width: 80vw;
        height: 500px;
    }   

}

@media screen and (min-width: 992px) {
    body{
    background-image: linear-gradient(to left, #696FDB, #4B4C5C);

    }

    main{
        width: 950px;
    }


}